<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">

      <div class="login-form">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: "name@email.com",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :user_name,
                          required: true,
                          autofocus: true,
                          placeholder: "YourUsername",
                          input_html: { autocomplete: "user_name" }%>
              <%= f.input :password,
                          required: true,
                          placeholder: "•••••••••",
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          placeholder: "•••••••••",
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :photo, as: :file, label: "Upload a profile photo", required: true %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn-login" %>
            </div>
          <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
