<div id= "comments-index">
  <div class= "main-container">
    <div class= "top">
      <div class= "left">
        <%= link_to  root_path(anchor: "post-#{@post.id}"), class: "leftnav__link" do %>
          <h3><i class="fa-solid fa-arrow-left" style="color: black"></i></h3>
        <% end %>
      </div>
      <div class="center">
        <h3>Comments</h3>
      </div>
    </div>
    <div class= "comments">
      <% @comments.each do |comment| %>
        <div class="card-all-comments" data-controller="like">
          <div class= "user-info">
            <%= cl_image_tag comment.user.photo.key, class: "profile-pic" if comment.user.photo.key%>
            <div class= "username-top">
              <p><strong><%= User.find(comment.user_id).user_name%></strong></p>
            </div>
            <div class="content"  data-id=<%= comment.id %>>
                <% if user_signed_in? %>
                  <% if CommentLike.find_by(comment: comment, user: current_user) %>
                      <i class="fa-solid fa-star" data-action="click->like#liker"></i>
                    <% else %>
                      <i class="fa-regular fa-star" data-action="click->like#liker"></i>
                  <% end %>
                <% end %>
            </div>
          </div>

          <div class="content2">

            <div id="comment<%= comment.id %>">
              <p class="comment_l"><%= comment.content %></p>
                <div class="time_likes">
                  <div id="time">
                    <p> <%= time_ago_in_words(comment.created_at) %></p>
                  </div>
                  <div class="icon-text"><p class="i-2" data-like-target="counter"><%= CommentLike.where(comment: comment).count%> </p> <p> </p> <p><%= CommentLike.where(comment: comment).count < 2 ? "like" : "likes" %> </p>
                  </div>
                </div>


            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="space-bar"></div>
  <div class="add-comment">
    <%# <p class=""><strong>Add a comment <i class="fa-regular fa-comment"></i></strong></p> %>
    <%= simple_form_for [@post, @comment] do |f| %>
      <div><%= f.input :content, label: false, input_html: { maxlength: 300 }, placeholder: "Add a comment ..." %></div>
      <div class="post"><%= f.button :submit, "Post", class: "btn-submit" %></div>
    <% end %>
  </div>
</div>
