<%# TOP %>
<div class="ontop">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left" style="color: black"></i>
  <% end %>
  <p>Notifications</p>
</div>

<%# COUNTER %>
<hr>
<p>You have <strong><%= notification_count = Notification.joins(:post).where(posts: { user_id: current_user.id }).count %></strong> unread <%= (notification_count == 1)? "notification" : "notifications" %></p>
<hr>
<%# NOTIFICATIONS %>
<% @notifications.order(created_at: :desc).each do |notification| %>
  <% post = Post.find(notification.post_id) %>
  <% if post.user_id == current_user.id %>
    <div class="notification-card">
      <% if notification.message == "comment" %>
        <p><strong><%= User.find(notification.user_id).user_name %></strong> has <strong>commented</strong> on your post.</p>
        <%= link_to "View Comment", post_comments_path(notification.post_id) %>
      <% elsif notification.message == "feedback" %>
        <% feedback = Feedback.find_by(post_id: notification.post_id) %>
        <p><strong><%= User.find(notification.user_id).user_name %></strong> has provided <strong>feedback</strong> on your post with an overall rating of <strong><%= feedback.overall_style_rating %></strong> stars.</p>
        <%= link_to "View Feedback", post_path(notification.post_id) %>
      <% end %>
      <p><%= time_ago_in_words(notification.created_at) %> ago</p>
    </div>
    <hr>
  <% end %>
<% end %>

<%= render "shared/footer" %>
