<%# TOP %>
<div class="ontop">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left" style="color: black"></i>
  <% end %>
  <p>Notifications</p>
</div>

<%# COUNTER %>
<div class="ourline-notification"></div>
<p>You have <strong><%= notification_count = Notification.joins(:post).where(posts: { user_id: current_user.id }).count %></strong> unread <%= (notification_count == 1)? "notification" : "notifications" %></p>

<div class="ourline-notification"></div>
<%# NOTIFICATIONS %>
<% @notifications.order(created_at: :desc).each do |notification| %>
  <% post = Post.find(notification.post_id) %>
  <% if post.user_id == current_user.id %>
    <div class="notification-card">
      <% if notification.message == "comment" %>
        <p><strong><%= User.find(notification.user_id).user_name %></strong> has <strong>commented</strong> on your post.</p>
          <%= link_to post_comments_path(notification.post_id) do %>
            <i class="fa-regular fa-eye" style="color:#A4B0F5"></i>
          <% end %>
        <% elsif notification.message == "feedback" %>
          <% feedback = Feedback.find_by(post_id: notification.post_id) %>
          <p><strong><%= User.find(notification.user_id).user_name %></strong> has provided <strong>feedback</strong> on your post with an overall rating of <strong><%= feedback.overall_style_rating %></strong> <% feedback.overall_style_rating.times do %>⭐<% end %></strong></p>
          <%= link_to post_path(notification.post_id) do %>
            <i class="fa-regular fa-eye" style="color:#A4B0F5"></i>
          <% end %>
      <% end %>
      <p><%= time_ago_in_words(notification.created_at) %> ago</p>
    </div>
    <div class="ourline-notification"></div>
  <% end %>
<% end %>

<%= render "shared/footer" %>
