<div class="ontop">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left" style="color: black"></i>
  <% end %>
  <p>Notifications</p>
</div>

<hr>

<% current_user.notifications.order(created_at: :desc).each do |notification| %>
  <div class="notification-card">
    <p>Message: <%= notification.message %></p>
    <p>User_id: <%= notification.user_id %></p>
    <p>Post_id <%= notification.post_id %></p>
    <p><%= notification.user_id %> has <strong>commented</strong> on <%= time_ago_in_words(notification.created_at) %> ago.</p>
  </div>
<% end %>
