<div id="footer">

  <div class="footer" >
    <div class="wavy-footer">
      <svg width="430" height="86" viewBox="0 0 430 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_9_734)">
        <path d="M0 33C0 21.9543 8.95431 13 20 13H146.134C152.91 13 159.226 16.4312 162.913 22.1162L174.083 39.337C194.038 70.101 239.222 69.6324 258.535 38.4611L268.157 22.9309C271.791 17.0647 278.193 13.4866 285.094 13.4644L409.936 13.0643C421.007 13.0288 430 21.9935 430 33.0642V87.186H0V33Z" fill="#F5F5F5"/>
        </g>
        <defs>
        <filter id="filter0_d_9_734" x="-10" y="0" width="450" height="94.186" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="-3"/>
        <feGaussianBlur stdDeviation="5"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_734"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_734" result="shape"/>
        </filter>
        </defs>
      </svg>
    </div>

    <div class="another-rounded-button">
      <% if user_signed_in? %>
        <%= link_to new_post_path, class: "rounded-button" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "rounded-button" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      <% end %>
    </div>

    <div class="icon-home">
        <%= link_to root_path, class: "text-decoration-none" do %>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.5 12.7547V21C21.5 21.2761 21.2761 21.5 21 21.5H15C14.7239 21.5 14.5 21.2761 14.5 21V15.831C14.5 15.1966 14.3276 14.5742 14.0012 14.0302C12.6418 11.7645 9.35819 11.7645 7.99877 14.0302C7.6724 14.5742 7.5 15.1966 7.5 15.831V21C7.5 21.2761 7.27614 21.5 7 21.5H1C0.723858 21.5 0.5 21.2761 0.5 21V12.7547C0.5 12.3899 0.632937 12.0376 0.87393 11.7638L10.6246 0.683398C10.8237 0.45715 11.1763 0.45715 11.3754 0.683398L21.1261 11.7638C21.3671 12.0376 21.5 12.3899 21.5 12.7547Z" stroke="black"/>
          </svg>
        <% end %>
    </div>

    <div class="icon-profile">
        <% if user_signed_in? %>
          <%= link_to profile_path(current_user.id), class: "text-decoration-none" do%>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.48535 18.4284C10.5924 17.8284 13.4202 17.88 17.5326 18.4494C17.8304 18.4926 18.1025 18.6421 18.2987 18.8702C18.4949 19.0984 18.6019 19.3899 18.6 19.6908C18.6 19.9788 18.501 20.2584 18.3222 20.4768C18.0105 20.8576 17.6913 21.2321 17.3646 21.6H18.9492C19.0488 21.4812 19.149 21.36 19.2504 21.237C19.6062 20.8006 19.8004 20.2546 19.8 19.6914C19.8 18.4764 18.9132 17.4294 17.697 17.2614C13.4874 16.6788 10.545 16.623 6.31195 17.2416C5.08315 17.421 4.19995 18.4842 4.19995 19.7076C4.19995 20.2506 4.37695 20.7876 4.71235 21.2226C4.81135 21.351 4.90915 21.477 5.00635 21.6006H6.55255C6.2486 21.2367 5.95214 20.8666 5.66335 20.4906C5.49173 20.2655 5.39915 19.9901 5.39995 19.707C5.39995 19.0608 5.86435 18.519 6.48535 18.4284ZM12 12.6C12.4727 12.6 12.9408 12.5069 13.3776 12.326C13.8144 12.1451 14.2112 11.8799 14.5455 11.5456C14.8798 11.2113 15.145 10.8144 15.3259 10.3777C15.5068 9.9409 15.6 9.47277 15.6 9.00001C15.6 8.52725 15.5068 8.05912 15.3259 7.62235C15.145 7.18558 14.8798 6.78872 14.5455 6.45443C14.2112 6.12014 13.8144 5.85496 13.3776 5.67405C12.9408 5.49313 12.4727 5.40001 12 5.40001C11.0452 5.40001 10.1295 5.7793 9.45437 6.45443C8.77924 7.12956 8.39995 8.04523 8.39995 9.00001C8.39995 9.95479 8.77924 10.8705 9.45437 11.5456C10.1295 12.2207 11.0452 12.6 12 12.6V12.6ZM12 13.8C13.273 13.8 14.4939 13.2943 15.3941 12.3941C16.2942 11.494 16.8 10.2731 16.8 9.00001C16.8 7.72697 16.2942 6.50607 15.3941 5.6059C14.4939 4.70572 13.273 4.20001 12 4.20001C10.7269 4.20001 9.50601 4.70572 8.60584 5.6059C7.70566 6.50607 7.19995 7.72697 7.19995 9.00001C7.19995 10.2731 7.70566 11.494 8.60584 12.3941C9.50601 13.2943 10.7269 13.8 12 13.8V13.8Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22.8C17.9646 22.8 22.8 17.9646 22.8 12C22.8 6.0354 17.9646 1.2 12 1.2C6.0354 1.2 1.2 6.0354 1.2 12C1.2 17.9646 6.0354 22.8 12 22.8ZM12 24C18.6276 24 24 18.6276 24 12C24 5.3724 18.6276 0 12 0C5.3724 0 0 5.3724 0 12C0 18.6276 5.3724 24 12 24Z" fill="black"/>
            </svg>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, alert: "Please sign in to access your profile.", class: "text-decoration-none" do %>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.94488 16.8927C9.70963 16.3427 12.3018 16.39 16.0715 16.9119C16.3445 16.9515 16.5939 17.0885 16.7738 17.2977C16.9536 17.5069 17.0517 17.774 17.0499 18.0499C17.0499 18.3139 16.9592 18.5702 16.7953 18.7704C16.5096 19.1194 16.217 19.4627 15.9175 19.8H17.37C17.4613 19.6911 17.5532 19.58 17.6461 19.4672C17.9724 19.0672 18.1503 18.5667 18.1499 18.0504C18.1499 16.9367 17.337 15.9769 16.2222 15.8229C12.3634 15.2889 9.66618 15.2377 5.78593 15.8048C4.65953 15.9692 3.84993 16.9438 3.84993 18.0653C3.84993 18.563 4.01218 19.0553 4.31963 19.454C4.41038 19.5717 4.50003 19.6872 4.58913 19.8005H6.00648C5.72786 19.467 5.45611 19.1277 5.19138 18.783C5.03406 18.5767 4.94919 18.3242 4.94993 18.0647C4.94993 17.4724 5.37563 16.9757 5.94488 16.8927ZM10.9999 11.55C11.4333 11.55 11.8624 11.4646 12.2628 11.2988C12.6632 11.1329 13.027 10.8899 13.3334 10.5834C13.6398 10.277 13.8829 9.91321 14.0487 9.51283C14.2146 9.11246 14.2999 8.68334 14.2999 8.24998C14.2999 7.81661 14.2146 7.3875 14.0487 6.98712C13.8829 6.58675 13.6398 6.22296 13.3334 5.91652C13.027 5.61009 12.6632 5.36701 12.2628 5.20117C11.8624 5.03533 11.4333 4.94998 10.9999 4.94998C10.1247 4.94998 9.28535 5.29765 8.66648 5.91652C8.04761 6.53539 7.69993 7.37476 7.69993 8.24998C7.69993 9.12519 8.04761 9.96456 8.66648 10.5834C9.28535 11.2023 10.1247 11.55 10.9999 11.55ZM10.9999 12.65C12.1669 12.65 13.286 12.1864 14.1112 11.3612C14.9364 10.5361 15.3999 9.41693 15.3999 8.24998C15.3999 7.08302 14.9364 5.96387 14.1112 5.13871C13.286 4.31355 12.1669 3.84998 10.9999 3.84998C9.83298 3.84998 8.71382 4.31355 7.88866 5.13871C7.0635 5.96387 6.59993 7.08302 6.59993 8.24998C6.59993 9.41693 7.0635 10.5361 7.88866 11.3612C8.71382 12.1864 9.83298 12.65 10.9999 12.65Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11 20.9C16.4676 20.9 20.9 16.4676 20.9 11C20.9 5.53245 16.4676 1.1 11 1.1C5.53245 1.1 1.1 5.53245 1.1 11C1.1 16.4676 5.53245 20.9 11 20.9ZM11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22Z" fill="black"/>
            </svg>
          <% end %>
        <% end %>
    </div>

  </div>

</div>
