<div id="footer">

  <div class="footer" >
    <div class="wavy-footer">
      <svg width="430" height="86" viewBox="0 0 430 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_9_734)">
        <path d="M0 33C0 21.9543 8.95431 13 20 13H146.134C152.91 13 159.226 16.4312 162.913 22.1162L174.083 39.337C194.038 70.101 239.222 69.6324 258.535 38.4611L268.157 22.9309C271.791 17.0647 278.193 13.4866 285.094 13.4644L409.936 13.0643C421.007 13.0288 430 21.9935 430 33.0642V87.186H0V33Z" fill="#F5F5F5"/>
        </g>
        <defs>
        <filter id="filter0_d_9_734" x="-10" y="0" width="450" height="94.186" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="-3"/>
        <feGaussianBlur stdDeviation="5"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9_734"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9_734" result="shape"/>
        </filter>
        </defs>
      </svg>
    </div>

    <div class="another-rounded-button">
      <% if user_signed_in? %>
        <%= link_to new_post_path, class: "rounded-button" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "rounded-button" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      <% end %>
    </div>

    <div class="icon-home">
        <%= link_to root_path, class: "text-decoration-none" do %>
          <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.45307 10.751L10.9773 1.02175L20.5015 10.751C20.7906 11.0463 20.9545 11.4468 20.9545 11.8711V19.4556C20.9545 19.7747 20.7037 20 20.4427 20H14.964C14.713 20 14.4721 19.7849 14.4721 19.476V14.8886C14.4721 12.9497 12.9267 11.34 10.9773 11.34C9.02787 11.34 7.48244 12.9497 7.48244 14.8886V19.476C7.48244 19.7849 7.24157 20 6.99053 20H1.51187C1.25085 20 1 19.7747 1 19.4556V11.8711C1 11.4468 1.16397 11.0463 1.45307 10.751Z" stroke="black" stroke-width="2"/>
          </svg>
        <% end %>
    </div>

    <div class="icon-profile">
        <% if user_signed_in? %>
          <%= link_to profile_path(current_user.id), class: "text-decoration-none" do%>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.94488 16.8927C9.70963 16.3427 12.3018 16.39 16.0715 16.9119C16.3445 16.9515 16.5939 17.0885 16.7738 17.2977C16.9536 17.5069 17.0517 17.774 17.0499 18.0499C17.0499 18.3139 16.9592 18.5702 16.7953 18.7704C16.5096 19.1194 16.217 19.4627 15.9175 19.8H17.37C17.4613 19.6911 17.5532 19.58 17.6461 19.4672C17.9724 19.0672 18.1503 18.5667 18.1499 18.0504C18.1499 16.9367 17.337 15.9769 16.2222 15.8229C12.3634 15.2889 9.66618 15.2377 5.78593 15.8048C4.65953 15.9692 3.84993 16.9438 3.84993 18.0653C3.84993 18.563 4.01218 19.0553 4.31963 19.454C4.41038 19.5717 4.50003 19.6872 4.58913 19.8005H6.00648C5.72786 19.467 5.45611 19.1277 5.19138 18.783C5.03406 18.5767 4.94919 18.3242 4.94993 18.0647C4.94993 17.4724 5.37563 16.9757 5.94488 16.8927ZM10.9999 11.55C11.4333 11.55 11.8624 11.4646 12.2628 11.2988C12.6632 11.1329 13.027 10.8899 13.3334 10.5834C13.6398 10.277 13.8829 9.91321 14.0487 9.51283C14.2146 9.11246 14.2999 8.68334 14.2999 8.24998C14.2999 7.81661 14.2146 7.3875 14.0487 6.98712C13.8829 6.58675 13.6398 6.22296 13.3334 5.91652C13.027 5.61009 12.6632 5.36701 12.2628 5.20117C11.8624 5.03533 11.4333 4.94998 10.9999 4.94998C10.1247 4.94998 9.28535 5.29765 8.66648 5.91652C8.04761 6.53539 7.69993 7.37476 7.69993 8.24998C7.69993 9.12519 8.04761 9.96456 8.66648 10.5834C9.28535 11.2023 10.1247 11.55 10.9999 11.55ZM10.9999 12.65C12.1669 12.65 13.286 12.1864 14.1112 11.3612C14.9364 10.5361 15.3999 9.41693 15.3999 8.24998C15.3999 7.08302 14.9364 5.96387 14.1112 5.13871C13.286 4.31355 12.1669 3.84998 10.9999 3.84998C9.83298 3.84998 8.71382 4.31355 7.88866 5.13871C7.0635 5.96387 6.59993 7.08302 6.59993 8.24998C6.59993 9.41693 7.0635 10.5361 7.88866 11.3612C8.71382 12.1864 9.83298 12.65 10.9999 12.65Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 20.9C16.4676 20.9 20.9 16.4676 20.9 11C20.9 5.53245 16.4676 1.1 11 1.1C5.53245 1.1 1.1 5.53245 1.1 11C1.1 16.4676 5.53245 20.9 11 20.9ZM11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22Z" fill="black"/>
            </svg>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, alert: "Please sign in to access your profile.", class: "text-decoration-none" do %>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.94488 16.8927C9.70963 16.3427 12.3018 16.39 16.0715 16.9119C16.3445 16.9515 16.5939 17.0885 16.7738 17.2977C16.9536 17.5069 17.0517 17.774 17.0499 18.0499C17.0499 18.3139 16.9592 18.5702 16.7953 18.7704C16.5096 19.1194 16.217 19.4627 15.9175 19.8H17.37C17.4613 19.6911 17.5532 19.58 17.6461 19.4672C17.9724 19.0672 18.1503 18.5667 18.1499 18.0504C18.1499 16.9367 17.337 15.9769 16.2222 15.8229C12.3634 15.2889 9.66618 15.2377 5.78593 15.8048C4.65953 15.9692 3.84993 16.9438 3.84993 18.0653C3.84993 18.563 4.01218 19.0553 4.31963 19.454C4.41038 19.5717 4.50003 19.6872 4.58913 19.8005H6.00648C5.72786 19.467 5.45611 19.1277 5.19138 18.783C5.03406 18.5767 4.94919 18.3242 4.94993 18.0647C4.94993 17.4724 5.37563 16.9757 5.94488 16.8927ZM10.9999 11.55C11.4333 11.55 11.8624 11.4646 12.2628 11.2988C12.6632 11.1329 13.027 10.8899 13.3334 10.5834C13.6398 10.277 13.8829 9.91321 14.0487 9.51283C14.2146 9.11246 14.2999 8.68334 14.2999 8.24998C14.2999 7.81661 14.2146 7.3875 14.0487 6.98712C13.8829 6.58675 13.6398 6.22296 13.3334 5.91652C13.027 5.61009 12.6632 5.36701 12.2628 5.20117C11.8624 5.03533 11.4333 4.94998 10.9999 4.94998C10.1247 4.94998 9.28535 5.29765 8.66648 5.91652C8.04761 6.53539 7.69993 7.37476 7.69993 8.24998C7.69993 9.12519 8.04761 9.96456 8.66648 10.5834C9.28535 11.2023 10.1247 11.55 10.9999 11.55ZM10.9999 12.65C12.1669 12.65 13.286 12.1864 14.1112 11.3612C14.9364 10.5361 15.3999 9.41693 15.3999 8.24998C15.3999 7.08302 14.9364 5.96387 14.1112 5.13871C13.286 4.31355 12.1669 3.84998 10.9999 3.84998C9.83298 3.84998 8.71382 4.31355 7.88866 5.13871C7.0635 5.96387 6.59993 7.08302 6.59993 8.24998C6.59993 9.41693 7.0635 10.5361 7.88866 11.3612C8.71382 12.1864 9.83298 12.65 10.9999 12.65Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 20.9C16.4676 20.9 20.9 16.4676 20.9 11C20.9 5.53245 16.4676 1.1 11 1.1C5.53245 1.1 1.1 5.53245 1.1 11C1.1 16.4676 5.53245 20.9 11 20.9ZM11 22C17.0753 22 22 17.0753 22 11C22 4.9247 17.0753 0 11 0C4.9247 0 0 4.9247 0 11C0 17.0753 4.9247 22 11 22Z" fill="black"/>
            </svg>
          <% end %>
        <% end %>
    </div>

  </div>

</div>
