<div class="cancel-card">
  <%= link_to :back, class: "icon-cancel" do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
    <p style="color: black">Create post</p>
</div>

<div>
  <%= simple_form_for @post,  data: { postform_target: "adam",  action: "submit->postform#send" } do |f| %>
    <%= f.input :photo, as: :file, input_html: { hidden: true }, wrapper_html: { class: "add-image-card" },label: "+" , label_html: { class: 'plus' }%>
    <%= f.select :post_type, options_for_select([["Share your style", "Share"], ["Ask for feedback", "Ask"]]) %>
    <div class="drop-down">
      <%= f.label :occasion, "Occasion"%>
        <%= f.select :occasion, options_for_select([
          ["Party", "Party"],
          ["Business Meeting", "Business Meeting"],
          ["Casual Outing", "Casual Outing"],
          ["Wedding", "Wedding"],
          ["Formal Event", "Formal Event"],
          ["Workout", "Workout"],
          ["Date Night", "Date Night"],
          ["Vacation", "Vacation"],
          ["Interview", "Interview"]
        ]) %>
    </div>
    <div class="drop-down">
      <%= f.label :category, "Outfit Category"%>
        <%= f.select :category, options_for_select([
          ["Casual Wear", "Casual Wear"],
          ["Formal Wear", "Formal Wear"],
          ["Street Style", "Street Style"],
          ["Athleisure", "Athleisure"],
          ["Vintage", "Vintage"],
          ["Bohemian", "Bohemian"],
          ["Business Attire", "Business Attire"],
          ["Beachwear", "Beachwear"],
          ["Ethnic Wear", "Ethnic Wear"],
          ["Glamorous", "Glamorous"],
          ["Smart Casual", "Smart Casual"],
          ["Festival", "Festival"]
      ]) %>
    </div>
    <%= f.input :brand_tag, wrapper_html: { data: {}}, input_html: { data: {postform_target: "input"} } %>
    <div class="tag-container" data-postform-target="container"></div>
    <%= f.input :description, input_html: { maxlength: 300 } %>
    <div class="checkbox-wrapper">
      <%= f.input :size_rating,  wrapper_html: { class: "stupid-box" }, :inline_label => false, input_html: { style: "padding: 20px" }, label: false %>
      <%= f.label :size_rating, 'Feeback for fit' %>
    </div>
    <%= f.submit :submit, class: "create-post-button", data: {postform_target: "button"} %>
  <% end %>
</div>
