<%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<div data-controller="slider" id="slider">

  <%# PROFILE INFO %>

  <%= image_tag 'banner.png', class: "banner-pic" %>

  <div class= "user-info">
    <%# current_user.id == params[:id] %>
    <%# profile_user = User.find(current_user.id) %>
    <% profile_user = User.find(params[:id]) %>
    <%# profile_user = User.find(5) %>
    <%= cl_image_tag profile_user.photo.key, height: 300, width: 400, crop: :fill if profile_user.photo.key%>
    <p><strong><%= profile_user.user_name%></strong></p>
  </div>

  <%# POST/ FOLLOWERS/ FOLLOWING TAB %>
  <div class= "card-profile-s">
    <div class="post-c">
      <% share = @posts.where(post_type: 'Share').count  %>
      <% ask = @posts.where(post_type: 'Ask').count %>
      <% saved = 0 %>
      <p> <%= sum = share + ask %> Posts</p>
    </div>

    <div class= "followers">

      <p><%= random_number = rand(50..2000) %> Followers</p>
    </div>

    <div class= "following">
      <p><%= random_number = rand(100..2000) %> Follwing</p>
    </div>

  </div>
  <%= render "shared/slider_profile" %>

  <div class="posts-block">
    <%# OWNERS SHARE POSTS %>

    <div class="profile-container" data-slider-target="share">
      <% @posts.where(post_type: 'Share').each do |post| %>
        <div class="profile-images">
          <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill if post.photo.key%>
        </div>
      <% end %>
    </div>

    <%# OWNERS ASK POSTS %>
    <div class="profile-container d-none" data-slider-target="ask">
      <% @posts.where(post_type: 'Ask').each do |post| %>
        <div class="profile-images">
          <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill if post.photo.key%>
        </div>
      <% end %>
    </div>

    <%# OWNERS SAVED POSTS %>
    <div class="profile-container d-none" data-slider-target="saved"  >
      <% if current_user.id == params[:id].to_i %>
        <% SavedPost.where(user_id: current_user).each do |saved| %>
          <%# <p><% user = Post.find(saved.post_id).user_id %><%#= User.find(user).user_name %><%#</p> %>
          <div class="profile-images">
            <%= cl_image_tag Post.find(saved.post_id).photo.key, height: 300, width: 400, crop: :fill if Post.find(saved.post_id).photo.key %>
          </div>
        <% end %>
      <% else %>
        <div></div>
      <% end %>
    </div>

  </div>
</div>
<%= render "shared/footer" %>
