<h1>Post Show page</h1>

<p><strong>Name: </strong><%= User.find(@post.user_id).user_name %></p>
<%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill if @post.photo.key%>
<p><strong>Description: </strong><%= @post.description %></p>
<p><strong>Category: </strong><%= @post.category %></p>
<p><strong>Occasion: </strong><%= @post.occasion %></p>
<p><strong>Brands: </strong><%= @post.brand_tag %></p>
<p><strong>Created at: </strong><%= time_ago_in_words(@post.created_at) %></p>

  <h3>Comments</h3>
  <div class="comments mt-3">
    <% @comments.each do |comment| %>
      <p><strong><%= User.find(comment.user_id).user_name%></strong> <%= time_ago_in_words(comment.created_at) %></p>
      <p><%= comment.content %></p>
    <% end %>
  </div>

  <%= simple_form_for @comment do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>
