<div id="show-feed">

<div class="ontop">
<%= link_to ask_feed_path do %>
  <i class="fa-solid fa-arrow-left" style="color: black"></i>
<% end %>
<p> Feedback </p>
</div>

<div class="form-whole">

<%= cl_image_tag(@post.photo.key, height: 400, width: 400, crop: :fill, class: "feedback-img") if @post.photo.key %>

<%# <div class="username-cont"> %>
<%# <p class="usern"><strong><%= User.find(@post.user_id).user_name</strong></p>  %>
<%# </div> %>



<div class="text-in">
  <div class="on-top">
    <p><strong>Description: </strong><%= @post.description %></p>
    <p><strong>Occasion: </strong><%= @post.occasion %></p>
    <p><strong>Brands: &nbsp </strong>
    <% @post.brand_tag.split(',').each do |brand| %>
      <span class="brand-tag"><%= brand %></span>
      <% end %>
    </p>
  </div>

  <%# <div class="on-bottom"> %>
    <%# <p><%= time_ago_in_words(@post.created_at) ago</p> %>
  <%# </div> %>
<%# </div> %>


<div class="border-holder">
<%# <hr class="solid"> %>
<div class="ourline"></div>
</div>

<% if @post.post_type == "Ask" %>
  <div class= "ask">

<% post_owner = current_user.id == @post.user_id%>
<% no_feedback = @post.feedbacks.where(user_id: current_user.id).count == 0 %>
<% if no_feedback && !post_owner %>
  <div class= "container">
      <div>
        <div class="text-center">
          <h4 style="color:black;"><strong>Leave feedback</strong></h4>
        </div>
        <br>
        <%= simple_form_for([@post, @feedback], data: { controller: "submit" }) do |f| %>
          <div class="row justify-content-between">
            <div class="col-6 d-flex justify-content-center text-center">
              <%= f.input :occasion_rating, collection: (1..5).to_a, label: "Occasion", input_html: {data: {controller: "star-rating", action: "click->form-submit#submit"}}  %>
            </div>
            <div class="col-6 d-flex justify-content-center text-center">
              <%= f.input :color_rating, collection: (1..5).to_a, label: "Color", input_html: {data: {controller: "star-rating"}}   %>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-6 d-flex justify-content-center text-center">
              <%= f.input :size_rating, collection: (1..5).to_a, label: "Size", input_html: {data: {controller: "star-rating"}}   %>
            </div>
            <div class="col-6 d-flex justify-content-center text-center">
              <%= f.input :overall_style_rating, collection: (1..5).to_a, label: "Overall Style", input_html: {data: {controller: "star-rating"}}   %>
            </div>
          </div>
          <br>
          <div class="border-holder">
            <div class="ourline"></div>
          </div>
          <div class="row justify-content-center">
            <%= f.input :feedback,  label: "Feedback" %>
          </div>
          <div class="buttys-container">
            <%= f.button :submit, "submit", class: "butters" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

    <div class= "card-feedback-average <%= (no_feedback && !post_owner) ? 'd-none' : '' %>">
    <div class= "centering-average">

      <h4><strong>Feedback average</strong></h4>
      </div>
      <div class= "centering-average2">
      <p><%= @post.feedbacks.count  %> feedbacks</p>
      </div>

<div class="text-desc">
      <div class="occasion">
        <p><strong>Occasion:  </strong> <%= @post.feedbacks.average(:occasion_rating).round(1) if @post.feedbacks.average(:occasion_rating) %> <i class="fa-solid fa-star"></i></p>

      </div>

      <div class="color">
        <p><strong>Color: </strong>  <%= @post.feedbacks.average(:color_rating).round(1) if @post.feedbacks.average(:color_rating) %> <i class="fa-solid fa-star"></i></p>
      </div>

      <div class="size">
        <p><strong>Size: </strong>  <%= @post.feedbacks.average(:size_rating).round(1) if @post.feedbacks.average(:size_rating) %> <i class="fa-solid fa-star"></i></p>

      </div>

      <div class="overall">
        <p><strong>Overall style: </strong>  <%= @post.feedbacks.average(:overall_style_rating).round(1) if @post.feedbacks.average(:overall_style_rating) %> <i class="fa-solid fa-star"></i></p>
      </div>
    </div>
</div>

        <div class="border-holder">
    <%# <hr class="solid"> %>
    <div class="ourline"></div>
    </div>

    <div class= "card-feedback  <%= (no_feedback && !post_owner) ? 'd-none' : '' %>">
    <div class= "centering-average">
      <h4><strong>Feedbacks</strong></h4>
      </div>
      <% @feedbacks.each do |feedback| %>
        <%= render "feedback_details", feedback: feedback %>
      <% end %>
    </div>
  </div>

<% else %>
  <div class= "share d-none">
  </div>
<% end %>
</div>
</div>
