<h1>Post Show page</h1>
<div class="container">
  <h3>Comments</h3>
  <div class="comments mt-3">
    <% @comments.each do |comment| %>
      <p><strong><%= User.find(comment.user_id).user_name%></strong> <%= time_ago_in_words(comment.created_at) %></p>
      <p><%= comment.content %></p>
    <% end %>
  </div>

  <%= simple_form_for @comment do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

</div>
